<html>
<style>
    .dark-mode {
      background-color: black;
      color: white;
    }
    
    body {
      text-align: center;
      width: 80%;
    }
    </style>

<body>
    <button onclick="myFunction()">Switch to dark mode</button>
<script>
    function myFunction() {
    var element = document.body;
    element.classList.toggle("dark-mode");
  }
  </script>
  </body>
  </html>

</html>