<%- include('partials/header') %>
<body>
<div class ="create-notes">
    <h2> hello create notes</h2>
      <!-- Switch -->
   <div class="switch">
    <label>
      light mode
      <input type="checkbox">
      <span class="lever"></span>
      dark mode
    </label>
  </div>

    <form actions ="/user" method ="POST">
    <label> Title</label>
    <input type ="text" name ="title">
    <label>Date</label>
    <input type = "datetime-local" name = "date">
    <form action="#">
      <p>
        <label>
          <input type="checkbox" />
          <span>Share publicly</span>
        </label>
      </p>
    </form>
          
    
    <textarea id= "notes" name = "notes" placeholder = "Show me your markdown magic"></textarea>
    <input type="submit" value="Submit">
</div>
</form>

<div class="row">
    <div class="col s12 m5">
      <div class="card-panel teal">
        <span class="white-text">
            <p>Markdown Cheatsheet</p>
            <p># Big Header</p>
            <p><em>*italicize*</em></p>
            <p> **bold** </p>
        </span>
      </div>
    </div>
  </div>

    
</body>
</html>
<%- include('partials/footer') %>