<%- include('partials/header') %>

<body>
<div class ="create-notes">
    <h2> Create a new note!</h2>
    <button onclick="myFunction()">Switch to dark mode</button>
  
<br></br>
 <!-- Form -->
    <form action ="/users/mynotes" method ="POST">
    <label> Title</label>
    <input required type ="text" name ="title">
    <label>Description</label>
    <input required type ="text" name ="description">    
    <label>Date</label>
    <input type = "datetime-local" name = "date">
      <br></br>
    <textarea id= "content" name = "content" required type ="text" placeholder = "Let the markdown writing magic begin..."></textarea>
    <input type="submit" value="Add Note">
  </form>
</div>

 <!-- Markdown Cheatsheet -->
<div class="row">
    <div class="col s12 m2">
      <div class="card-panel teal">
        <span class="white-text">
            <p>Markdown Cheatsheet</p>
            <p># Big Header</p>
            <p><em>*italicize*</em></p>
            <p> **bold** </p>
        </span>
      </div>
    </div>
  </div>

</body>
</html>
