<%- include('partials/header') %>
<body>
  <div class="navbar-fixed">
      <nav>
          <div class="nav-wrapper">
              <!-- <a href=""class="brand-logo left">plutonotes</a> -->
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                  <li><a href="../home">Home</a></li>
                  <li><a href="/users/../users/mynotes">My notes</a></li>
                  <li><a href="/users/../users/create">Create notes</a></li>
                  <li><a href="/publicnotes">Public notes</a></li>
                </ul>
              <ul class="right">
                  <li>
                      <% if (user) { %>
                          <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                          <% } else { %>
                              <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                              <% } %>
                  </li>
              </ul>
          </div>
      </nav>
  </div>

<div class ="create-notes">
    <h2> Create a new note!</h2>
    <button onclick="myFunction()">Switch to dark mode</button>
  
<br></br>
 <!-- Form -->
    <form action ="/users/mynotes" method ="POST">
    <label> Title</label>
    <input required type ="text" name ="title">
    <label>Description</label>
    <input required type ="text" name ="description">    
    <label>Date</label>
    <input type = "datetime-local" name = "date">
      <br></br>
    <textarea id= "content" name = "content" required type ="text" placeholder = "Let the markdown writing magic begin..."></textarea>
    <input type="submit" value="Add Note">
  </form>
</div>

 <!-- Markdown Cheatsheet -->
<div class="row">
    <div class="col s12 m2">
      <div class="card-panel teal">
        <span class="white-text">
            <p>Markdown Cheatsheet</p>
            <p># Big Header</p>
            <p><em>*italicize*</em></p>
            <p> **bold** </p>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
