<html>
<head>
    <title>plutonotes</title>
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="" class="brand-logo left">plutonotes</a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/publicnotes">Public notes</a></li>
                  </ul>
                
                <ul class="right">
                    <li>
                        <% if (user) { %>
                            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                            <% } else { %>
                                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                                <% } %>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <h1>plutonotes</h1>
    <p> Take your notes to the next level. Markdown style edition. </p>
    <textarea id= "subject" name = "subject" placeholder = "Markdown is cool...""></textarea>
    <input type="submit" value="Get Started">
    <div class = "more-info">
        <div class = "notes">
            <i class="material-icons left">mode_edit</i>
            <h5>Write</h5>
            <p2> Take your note taking skills to another level by challenging yourself. Practice your markdown skills by taking your notes in markdown format </p2>
        <div class ="collaborate">
            <i class="material-icons left">people</i>
            <h5>Collaborate</h5>
                <p2>Add your friends and work collaboratively on your notes</p2>
        <div class ="share">
                    <i class="material-icons left">public</i>
                    <h5>Share</h5>
                        <p2>Share your notes with the world to help people. Browse how other people took their notes. </p2>
            </div>
        </div>
    </div>
</body>
</html>
<%- include('partials/footer') %>