<html>
<head>
    <title>plutonotes</title>
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="" class="brand-logo left">plutonotes</a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/publicnotes">Public notes</a></li>
                  </ul>
                
                <ul class="right">
                    <li>
                        <% if (user) { %>
                            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                            <% } else { %>
                                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                                <% } %>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <h1>plutonotes</h1>
    <p> Take your notes to the next level. Markdown style edition. </p>
    <textarea id= "subject" name = "subject" placeholder = "Markdown is cool...""></textarea>
    <input type="submit" value="Get Started">
<br> </br>
    <!--promo section-->
    <div class="row">
        <div class="col s4">
            <i class="material-icons center">mode_edit</i>
            <p class ="promo-caption">Write</p>
            <p class ="light center">
                Challenge yourself by taking your notes in markdown format.
                </p>
        </div>
        <div class="col s4">
            <i class="material-icons center">people</i>
            <p class ="promo-caption">Collaborate</p>
            <p class ="light center">
                Add your friends and work collaboratively on your notes. </p>
        </div>
        <div class="col s4">
            <i class="material-icons center">public</i>
            <p class ="promo-caption">Share</p>
            <p class ="light center">
                Share your notes with the world. Browse how other people took their notes. </p> 
        </div>
    </div>
</body>
</html>
<%- include('partials/footer') %>