<%- include('partials/header') %>

<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Sample Notes</span>
          <p>This is an example. You can view and delete your notes. Writing notes is so fun. We hope you enjoy! </p>
        </div>
        <div class="card-action">
          <a href="#">View</a>
          <a href="#">Delete</a>
        </div>
      </div>
    </div>
  </div>

  

  
          
