<html>
<head>
    <title>plutonotes</title>
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<h2>public notes </h2>


<h2>public notes deeper level</h2>

<div class="row">
    < class="col s12 m3">
      <html class="card">
        <div class="card-image">
          <img src="images/babyyoda.jpg">
          <span class="card-title">Baby Yoda Notes</span>
        </div>
        <div class="card-content">
          <p>Grogu is a character from the Star Wars Disney+ original television series The Mandalorian. He is a toddler member of the same unnamed alien species as the Star Wars characters Yoda and Yaddle, with whom he shares a strong ability in the Force.</p>

          </div>

</html>