<html>
<head>
    <title>plutonotes</title>
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper">
          <!-- <a href=""class="brand-logo left">plutonotes</a> -->
          <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="../home">Home</a></li>
              <li><a href="/users/../users/mynotes">My notes</a></li>
              <li><a href="/users/../users/create">Create notes</a></li>
              <li><a href="/users/publicnotes">Public notes</a></li>
            </ul>
          </ul>

          <ul class="right">
              <li>
                  <% if (user) { %>
                      <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                      <% } else { %>
                          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                          <% } %>
              </li>
          </ul>
      </div>
  </nav>
</div>

<h2>public notes </h2>

<!--example1-->
<div class="row">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="/images/babyyoda.jpg">
          <span class="card-title">Baby Yoda Notes</span>
        </div>
        <div class="card-content">
          <p>Grogu is a character from the Star Wars Disney+ original television series The Mandalorian. He is a toddler member of the same unnamed alien species as the Star Wars characters Yoda and Yaddle, with whom he shares a strong ability in the Force.</p>
        </div>
        <div class="card-action">
          <a href="/users/publicnotes/view">VIEW</a>
        </div>
      </div>
    </div>
  </div>
<!--example2-->
  <div class="row">
    <div class="col s9 m3">
      <div class="card">
        <div class="card-image">
          <img src="/images/nodejs.png">
          <span class="card-title">Baby Yoda Notes</span>
        </div>
        <div class="card-content">
          <p>Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine and executes JavaScript code outside a web browser</p>
        </div>
        <div class="card-action">
          <a href="#">VIEW</a>
        </div>
      </div>
    </div>
  </div>
<!--example3-->
  <div class="row">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="/images/math.jpg">
          <span class="card-title">Math Notes</span>
        </div>
        <div class="card-content">
          <p>The FOIL method is a technique used to help remember the steps required to multiply two binomials. Remember that when you multiply two terms together you must multiply the coefficient (numbers) and add the exponents. The FOIL method is shown in the diagram below.</p>
        </div>
        <div class="card-action">
          <a href="#">VIEW</a>
        </div>
      </div>
    </div>
  </div>


          
  </html>
